.btn1 {
  background-color: pink;
  height: 50px;
  width: 100px;
  margin-left: 40%;
  // margin-top: 20%;
  color: green;
  border: 2px dashed black;
}

.btn2 {
  background-color: pink;
  height: 50px;
  width: 100px;
  color: green;
  border: 2px dashed black;
}
.text {
  // margin-left: 40%;
  margin-top: 20%;
  text-align: center;
  color: rgb(37, 9, 63);
}
